@font-face {
	font-family: "belligerent";
	src: url("../font/belligerent-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	color: black !important;
	list-style: none !important;
	text-decoration: none !important;
	font-family: "belligerent" !important;
}

.bg_Orinoco {
	background-color: #f3e9f1 !important;
}

.btn-Orinoco {
	background-color: #c985ac !important;
	&:hover {
		opacity: 0.8;
	}
}

.border-Orinoco {
	border-color: #c985ac !important;
}

.img-logo {
	width: 38%;
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.form-row {
	display: flex;
}

.imgsize {
	@media screen and (max-width: 992px) {
		height: 100%;
	}
}

.optionForm {
	max-height: 2rem;
	margin: 0.2rem;
}

.text-price {
	margin: 0;
}
.form-group {
	margin-right: 1rem;
	margin-bottom: 10px;
}
// footer {
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;
// }
